USE [master]
GO
/****** Object:  Database [model3009]    Script Date: 30/09/2023 16:34:44 ******/
CREATE DATABASE [model3009]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'model3009', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\model3009.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'model3009_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\model3009_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [model3009].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [model3009]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 30/09/2023 16:34:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[ID] [int] NOT NULL,
	[role] [nchar](15) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/09/2023 16:34:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[role] [int] NOT NULL,
	[login] [nchar](10) NOT NULL,
	[password] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[roles] ([ID], [role]) VALUES (1, N'user           ')
INSERT [dbo].[roles] ([ID], [role]) VALUES (2, N'admin          ')
INSERT [dbo].[roles] ([ID], [role]) VALUES (3, N'manager        ')
GO
INSERT [dbo].[Users] ([ID], [role], [login], [password]) VALUES (1, 1, N'user      ', N'12345     ')
INSERT [dbo].[Users] ([ID], [role], [login], [password]) VALUES (2, 2, N'root      ', N'12345     ')
INSERT [dbo].[Users] ([ID], [role], [login], [password]) VALUES (3, 3, N'manager   ', N'12345     ')
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_roles] FOREIGN KEY([role])
REFERENCES [dbo].[roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_roles]
GO
USE [master]
GO
